---
---

<button id='menu-btn' class='hamburger block focus:outline-none md:hidden'>
	<span class='hamburger-line top'></span>
	<span class='hamburger-line middle translate-y-2'></span>
	<span class='hamburger-line bottom translate-y-4'></span>
</button>

<script src='../scripts/mobileMenu.js'></script>
