---
import CtaBtn from '../components/CtaBtn.astro'
import illustration from '../img/illustration-intro.svg'
---

<section id='hero'>
	<div
		class='container mx-auto flex flex-col-reverse items-center px-6 md:flex-row'
	>
		<!-- Text -->
		<div
			class='mb-20 flex flex-col items-center space-y-10 py-6 md:mb-32 md:w-1/2 md:items-start md:px-0'
		>
			<h1
				class='px-2 text-center text-4xl font-bold tracking-[-1px] text-darkBlue md:px-0 md:text-left lg:text-5xl xl:pr-52 xl:text-6xl'
			>
				Bring everyone together to build better products
			</h1>
			<p
				class='max-w-sm text-center text-sm tracking-wider text-darkGrayishBlue md:text-start'
			>
				Manage makes it simple for software teams to plan day-to-day tasks while
				keeping the larger team goals in view.
			</p>
			<div class='flex justify-center md:justify-start'>
				<CtaBtn href='#' text='Get Started' class='main-btn' />
			</div>
		</div>
		<!-- Image -->
		<div class='flex items-center md:mb-32 md:w-1/2 xl:justify-end'>
			<img src={illustration} alt='' />
		</div>
	</div>
</section>
