---
import CallToAction from '../components/CallToAction.astro'
import illustration from '../img/illustration-intro.svg'
---

<section id='hero'>
	<div
		class='container mx-auto flex flex-col-reverse items-center px-6 md:flex-row'
	>
		<!-- Text -->
		<div class='mb-32 flex flex-col space-y-4 py-6 md:w-1/2'>
			<h1
				class='max-w-md px-6 text-center text-4xl font-bold leading-[50px] tracking-[-1px] md:px-0 md:text-left md:text-6xl md:leading-[64px]'
			>
				Bring everyone together to build better projects
			</h1>
			<p class='max-w-sm text-darkGrayishBlue'>
				Manage makes it simple for software teams to plan day-to-day tasks while
				keeping the larger team goals in view.
			</p>
			<div class='flex justify-center md:justify-start'>
				<CallToAction href='#' text='Get Started' class='main-btn mt-6' />
			</div>
		</div>
		<!-- Image -->
		<div class='flex items-center justify-center md:mb-32 md:w-1/2'>
			<img src={illustration} alt='' />
		</div>
	</div>
</section>
