---
---

<div class='relative md:hidden'>
	<div
		id='menu-overlay'
		class='fixed left-0 top-0 z-10 hidden h-full w-full bg-gradient-to-t from-zinc-950'
	>
	</div>
	<div
		id='menu'
		class='absolute left-6 right-6 z-30 mt-10 hidden flex-col items-center space-y-6 self-end bg-white py-8 font-bold drop-shadow-md sm:w-auto sm:self-center'
	>
		<a class='text-sm hover:text-darkGrayishBlue' href='#'>Pricing</a>
		<a class='text-sm hover:text-darkGrayishBlue' href='#'>Product</a>
		<a class='text-sm hover:text-darkGrayishBlue' href='#'>About Us</a>
		<a class='text-sm hover:text-darkGrayishBlue' href='#'>Careers</a>
		<a class='text-sm hover:text-darkGrayishBlue' href='#'>Community</a>
	</div>
</div>

<!-- <script src='../js/mobileMenu.js'></script> -->
<script src='../scripts/mobileMenu.js'></script>
