---
---

<div class='md:hidden'>
	<div
		id='menu'
		class='absolute left-6 right-6 mt-10 hidden flex-col items-center space-y-6 self-end bg-white py-8 font-bold drop-shadow-md sm:w-auto sm:self-center'
	>
		<a href='#'>Pricing</a>
		<a href='#'>Product</a>
		<a href='#'>About Us</a>
		<a href='#'>Careers</a>
		<a href='#'>Community</a>
	</div>
</div>

<script src='../scripts/mobileMenu.js'></script>
