---
import logo from '../img/logo.svg'
import HamburgerBtn from '../components/HamburgerBtn.astro'
import MobileMenu from '../components/MobileMenu.astro'
import CtaBtn from '../components/CtaBtn.astro'
---

<nav class='container relative mx-auto my-10 px-6 md:mb-32 md:mt-14 xl:px-20'>
	<!-- Flex Container -->
	<div class='relative z-20 flex items-center justify-between'>
		<!-- Logo -->
		<div class='translate-y-1'>
			<img src={logo} alt='Manage Logo' srcset='' />
		</div>
		<!-- Menu Items -->
		<div class='hidden space-x-8 md:flex'>
			<a href='#' class='hover:text-darkGrayishBlue'>Pricing</a>
			<a href='#' class='hover:text-darkGrayishBlue'>Product</a>
			<a href='#' class='hover:text-darkGrayishBlue'>About Us</a>
			<a href='#' class='hover:text-darkGrayishBlue'>Careers</a>
			<a href='#' class='hover:text-darkGrayishBlue'>Community</a>
		</div>
		<!-- CTA -->
		<CtaBtn href='#' text='Get Started' isHidden={true} class='lg:main-btn' />
		<HamburgerBtn />
	</div>
	<MobileMenu />
</nav>
