---
const { url, name, comment } = Astro.props
---

<swiper-slide
	class='relative flex flex-col space-y-12 bg-veryLightGray p-6 text-center'
>
	<div
		class='absolute left-1/2 top-[-40px] flex -translate-x-1/2 transform justify-center'
	>
		<img src={url} alt='' class='h-20 w-20' />
	</div>
	<div class='text-center font-bold text-darkBlue'>
		<h3>{name}</h3>
	</div>
	<div class='text-center text-darkGrayishBlue'>
		<p>{`"${comment}"`}</p>
	</div>
</swiper-slide>
