---
import MySwiper from '../components/MySwiper.astro'
import CallToAction from '../components/CallToAction.astro'
---

<div class='mb-60 text-center'>
	<div class='overflow-hidden xl:container xl:mx-auto'>
		<MySwiper />
	</div>

	<CallToAction text='Get Started' class='main-btn inline-block' />
</div>
